*.ipynb_checkpoints

# Fortran

*.dSYM
bulk
bulk_f77
*.conf
*.temp
*.inp
*.log
*.macro

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
*.egg-info/
dist/
build/

# RDF output files
rdf.csv
rdf_plot*.png
